
    *{
      margin: 0;
      padding: 0;
    }

    body {
      background-color: rgb(2, 2, 70);
      color: white;
      font-family: "Libertinus Sans", sans-serif;
    }

    nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 80px;
      background-color: rgb(6, 6, 114);
    }

    nav ul{
      display: flex;
      justify-content: center;
    }

    nav ul li {
      list-style: none;
      margin: 0 23px;
    }

    nav ul li a {
      text-decoration: none;
      color: white;
    }

    nav ul li a:hover {
      color: rgb(162, 162, 247);
      font-size: 1.01rem;
    }

    .left {
      font-size: 1.5rem;
    }

    .firstsection {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 20px 0;
    }

    .firstsection > div {
        width: 38%;
    }

    .leftsection {
        font-size: 2.8rem;
    }

    .leftsection div {
        margin: 10px 0;
    }
    
    .rightsection img {
        width: 95%;
        margin-top: 50px;
    }

    /* Typing Aniamtion */

    .wrapper {
      display: grid;
    }

    .typing-demo {
      width: 25ch;
      animation: typing 2s steps(30),
      blink 0.8s step-end infinite alternate;
      white-space: nowrap;
      overflow: hidden;
      border-right: 3px solid;
      font-size: 2.4rem;
    }

    @keyframes typing {
      from {
        width: 0;
      }
    }

    @keyframes blink {
      50% {
        border-color: transparent;
      }
    }

    .secondsection {
      max-width: 87vw;
      margin: auto;
    }

    hr {
      border: 0;
      background-color: rgb(158, 178, 236);
      height: 1.2px;
      margin: 40px 84px;
    }


















    /* Utility section */
    
    .name {
        color: rgb(182, 116, 244);  
    }

    .typing-demo b {
        color: rgb(182, 116, 244);  
    }