/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Unbounded:wght@200..900&display=swap');
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /* 
         Change favorite color:

         Default (Purple): hsl(255, 60%, 64%)
         Blue: hsl(220, 60%, 64%) - Pink: hsl(300, 60%, 64%)
         Green: hsl(110, 60%, 64%) - Cyan: hsl(180, 60%, 64%)
         Orange: hsl(15, 60%, 64%) - Red: hsl(358, 60%, 64%)

         For more colors visit: https://htmlcolorcodes.com/
         -> Choose any color 
         -> Copy the color mode (HSL)
  */
  --hue: 255;
  --first-color: hsl(var(--hue), 60%, 64%);
  --first-color-alt: hsl(var(--hue), 80%, 56%);
  --first-color-alt-2: hsl(var(--hue), 60%, 56%);
  --first-color-light: hsl(var(--hue), 60%, 74%);
  --title-color: hsl(240, 8%, 95%);
  --text-color: hsl(240, 8%, 70%);
  --text-color-light: hsl(240, 8%, 50%);
  --body-color: hsl(240, 100%, 2%);
  --container-color: hsl(240, 8%, 6%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --second-font: "Unbounded", sans-serif;
  --biggest-font-size: 2rem;
  --bigger-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 3rem;
    --bigger-font-size: 2rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

button {
  outline: none;
  border: none;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  text-align: center;
  font-size: var(--h1-font-size);
  margin-bottom: 3rem;
}

.section__title span {
  color: var(--first-color);
}

.main {
  overflow: hidden;
}

/*=============== BLOB ===============*/
/* Blob animate */
.blob-animate {
  width: 100px;
  height: 100px;
  background: linear-gradient(180deg,
              var(--first-color-alt),
              var(--first-color-light) 100%);
  border-radius: 50%;
  position: absolute;
  filter: blur(35px);
  z-index: -1;
  animation: animateBlob 5s linear infinite;
}

.header .blob-animate {
  top: -3rem;
  left: -3rem;
}

@keyframes animateBlob {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Blob */


/*=============== CUSTOM CURSOR ===============*/


/* Hide the custom cursor */


/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg,
              var(--body-color) 60%,
              hsla(240, 100%, 2%, 0) 100%);
  z-index: var(--z-fixed);
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-block: 1rem;
}

.nav_logo {
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  align-self: flex-start;
  transition: color .4s;
}

.nav_logo:hover {
  color: var(--first-color);
}

.nav_list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: .5rem;
}

.nav_link {
  color: var(--title-color);
  font: var(--font-semi-bold) var(--small-font-size) var(--second-font);
  transition: color .4s, text-shadow .4s;
}

.nav_link:hover {
  color: var(--first-color);
  text-shadow: 0 8px 16px var(--first-color);
}

/* Active link */


/*=============== HOME ===============*/
.home {
  position: relative;
}

.home_container {
  position: relative;
  padding-top: 4rem;
  row-gap: 3rem;
}

.home_greeting {
  font-size: var(--h2-font-size);
  font-weight: var(--font-regular);
  color: var(--first-color);
}

.home_name {
  font-size: var(--biggest-font-size);
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.home_image {
  position: relative;
  display: grid;
  overflow-x: clip;
}

.home_image .blob-animate {
  height: 220px;
  width: 220px;
  bottom: 50px;
  justify-self: center;
}

.home_perfil {
  width: 320px;
  justify-self: center;
}

.home_shadow, .home_info, .home_social, .home_cv {
  position: absolute;
}

.home_shadow {
  width: 100%;
  height: 375px;
  bottom: 1rem;
  z-index: 1;
  background: linear-gradient(180deg,
              hsla(240, 100%, 2%, 0) 60%,
              hsl(240, 100%, 2%) 85%);
}

.home_info {
  z-index: 2;
  bottom: -1rem;
  justify-self: center;
}

.home_split {
  font-size: var(--h3-font-size);
  font-family: var(--font-regular);
  color: var(--first-color);
}

.home_profession-1, .home_profession-2 {
  font-size: var(--bigger-font-size);
  text-align: center;
  overflow: hidden;
}

.home_profession-1 {
  position: relative;
  color: var(--first-color);
}

.home_profession-1::after {
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg,
              hsl(0, 0%, 0%) 10%,
              hsla(0, 0%, 0%, 0) 60%);
  position: absolute;
  top: 0;
  left: 0;
}

.home_profession-2 {
  transform: translateY(-1rem);
}

.home_social {
  z-index: 2;
  left: 0;
  align-self: center;
  display: flex;
  flex-direction: column;
  row-gap: .75rem;
}

.home_social-link {
  color: var(--title-color);
  font-size: 1.25rem;
  transition: transform .4s, color .4s;
}

.home_social-link:hover {
  color: var(--first-color);
  transform: translateX(.25rem);
}

.home_cv {
  z-index: 2;
  right: -2.5rem;
  bottom: 2.5rem;
  rotate: -90deg;
  color: var(--text-color-light);
  font: var(--font-medium) var(--small-font-size) var(--second-font);
  display: flex;
  align-items: center;
  column-gap: .5rem;
  transition: color .4s;
}

.home_cv i {
  font-size: 1rem;
}

.home_cv:hover {
  color: var(--first-color);
}



/*=============== BUTTON ===============*/


/*=============== ABOUT ===============*/


/*=============== PROJECTS ===============*/


/* Swiper class */


/*=============== WORK ===============*/


/* Show & hide sections */


/* Active tab */


/*=============== SERVICES ===============*/


/* Hide services info */


/* Rotate icon */


/*=============== TESTIMONIALS ===============*/


/* Infinite scroll animation */


/*=============== CONTACT ===============*/


/*=============== FOOTER ===============*/


/*=============== SCROLL BAR ===============*/


/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 420px) {
  .container {
    margin-inline: 1rem;
  }
  
  .blob,
  .home_image .blob-animate {
    width: 190px;
    height: 190px;
  }
}

@media screen and (max-width: 320px) {
  .container {
    margin-inline: 1rem;
  }
  
  .blob,
  .home_image .blob-animate {
    width: 155x;
    height: 155px;
  }
}

/* For medium devices */
@media screen and (min-width:550px){
  .home_container {
    width: 460px;
    margin-inline: auto;
  }
}

@media screen and (min-width: 768px) {
  .home_container {
    width: 600px;
  }  
}

/* For large devices */
@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
    align-items: center;
  }

  .nav_list {
    flex-direction: row;
    column-gap: 5.5rem;
  }

  .home_container {
    width: initial;
    padding-top: 3rem;
  }

  .home_perfil {
    width: 600px;
  }

  .home_image .blob-animate {
    width: 450px;
    height: 450px;
    bottom: 5rem;
    filter: blur(50px);
  }

  .home_shadow {
    width: 700px;
    height: 700px;
    right: 0;
    left: 0;
    margin-inline: auto;
    background: linear-gradient(180deg,
                hsla(240, 100%, 2%, 0) 60%,
                hsl(240, 100%, 2%) 95%);
  }

  .home_data {
    position: absolute;
    top: 12rem;
    left: 3rem;
    z-index: 2;
  }

  .home_info {
    top: 12rem;
    right: 1rem;
    bottom: initial;
  }

  .home_split {
    font-size: var(--h2-font-size);
  }

  .home_profession-1 {
    font-size: var(--biggest-font-size);
    text-align: initial;
  }

  .home_profession-2 {
    font-size: var(--biggest-font-size);
    transform: translateY(-1.5rem);
  }

  .home_social {
    bottom: 3rem;
    row-gap: 1.5rem;
  }

  .home_social-link {
    font-size: 1.5rem;
  }

  .home_cv {
    font-size: var(--normal-font-size);
    rotate: 0deg;
    right: 0;
  }

}

/* For 2K resolutions (2048 x 1152, 2048 x 1536) */


/* Custom cursor is hidden for mobile devices */
